.main-nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    z-index: 1;
}

.navbar-left {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.navbar-left p {
    display: flex;
    padding: 7%;
    font-size: x-large;
    font-weight: 600;
    color: #FDCB6E ;
}

.navbar-right {
    display: flex;
    align-items: center;
    padding: 30px;
}

ul {
    display: flex;
    align-items: center;  
    justify-content: center;
    gap: 100px;
    padding-right: 50px;
    list-style-type: none;
}

.navbar-right li a {
    display: flex;
    align-items: center;  
    justify-content: center;
    font-size: x-large;
    color: white;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
}

li:hover {
    transform: translateY(-5px);
}

li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 3px;
    background-color: white;
    transition: width 0.3s ease;
}

li:hover::after {
    width: 100%;
}

.navbar-righter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    padding-right: 30px;
}

.navbar-righter img {
    position: relative;
    transition: transform 0.3s ease;
}

.navbar-righter img:hover {
    transform: translateY(-5px);
}

.navbar-righter img::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 3px;
    background-color: white;
    transition: width 0.3s ease;
}

.navbar-righter img:hover::after {
    width: 100%;
}
