#root {
  width: 100%;
  max-width: auto;
  margin: 0 auto;
  padding: 0 auto;
  color: white;
  background-image: url("./../src/components/assets/blackbg-croped.jpg");
  background-size: contain;
  font-family: 'Poppins', 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}