.about-main-page {
    padding: 100px;
    background-color: #FDCB6E;
    color: black;
}

.about-container {
    display: flex;
}

.about-left, .about-right {
    flex: 1;
    padding: 30px;
}

.about-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-left img {
    display: flex;
    width: 100px;
    border: none;
    border-radius: 50%;
    outline: 5px solid #333;
    outline-offset: 5px;
}

.about-right h1{
    font-family: 'Montserrat', 'sans-serif';
    font-size: 60px;
    font-weight: 800;
}

.about-right h2 {
    font-size: 24px;
}

.about-right p{
    text-indent: 2rem;
    text-align: left;
    font-size: 24px;
    line-height: 40px;
}

.about-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
}

.about-heading h1 {
  margin: 0;
  white-space: nowrap;
}

.about-heading .line {
  flex: 1;
  height: 2px;
  background-color: black;
}

.about-interest h1 {
    font-family: 'Montserrat', 'sans-serif';
    font-size: 60px;
    font-weight: 800;
}

.cert-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
}

.vertical-line {
  width: 2px;
  height: 500px; 
  background-color: black; 
}

.cert-icons img{
    border: none;
    border-radius: 50%;
    outline: 2x solid black;
    outline-offset: 5px;
}

.cert-icons h2 h3{
    display: flex;
    text-align: center;
}
