.highlight {
  background: linear-gradient(135deg, #FDCB6E, #E17055);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  background-clip: text;
  color: transparent;
}

.main-footer {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  color: #f0f0f0;
  padding: 2rem 1rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}

.footer-name {
  flex: 1 1 300px;
  color: #ccc;
}

.footer-name img {
  width: 60px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.footer-name p {
  font-size: 1.1rem;
  line-height: 1.6;
}

.footer-links,
.footer-socials {
  flex: 1 1 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.footer-links h2,
.footer-socials h2 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.footer-links a {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  position: relative;
  transition: all 0.3s ease;
}

.footer-links a:hover {
  color: #FDCB6E;
  transform: translateY(-3px);
}

.footer-links a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: #FDCB6E;
  transition: width 0.3s ease;
}

.footer-links a:hover::after {
  width: 100%;
}

.footer-socials img {
  width: 50px;
  height: 50px;
  transition: all 0.3s ease;
}

.footer-socials img:hover {
  transform: scale(1.1);
  filter: brightness(1.2) drop-shadow(0 0 10px rgba(0, 123, 255, 0.5));
}

.footer-bottom {
  text-align: center;
  font-size: 0.9rem;
  color: #aaa;
  border-top: 1px solid whitesmoke;
  padding: 20px;
}

/* Tablet */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .footer-name,
  .footer-links,
  .footer-socials {
    align-items: center;
    gap: 12px;
  }

  .footer-name p{
    text-align: left;
  }

  .footer-links a {
    font-size: 1rem;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .footer-name img {
    width: 50px;
  }

  .footer-socials img {
    width: 35px;
    height: 35px;
  }
}

/* Extra Small Mobile */
@media (max-width: 320px) {
  .footer-name p {
    font-size: 0.85rem;
  }

  .footer-links a {
    font-size: 0.8rem;
  }

  .footer-socials img {
    width: 30px;
    height: 30px;
  }
}
